@media (-webkit-min-device-pixel-ratio:1.5),(-webkit-min-device-pixel-rati:1.5)
  .border-1px
    &::after
      -webkit-ransform : scaleY(0.7)
      transform:scaleY(0.7)


@media (-webkit-min-device-pixel-ratio:2),(-webkit-min-device-pixel-rati:2)
  .border-1px
    &::after
      -webkit-ransform : scaleY(0.5)
      transform:scaleY(0.5)

@media (-webkit-min-device-pixel-ratio:1.5),(-webkit-min-device-pixel-rati:1.5)
  .border-1px-top
    &::before
      -webkit-ransform : scaleY(0.7)
      transform:scaleY(0.7)

@media (-webkit-min-device-pixel-ratio:2),(-webkit-min-device-pixel-rati:2)
  .border-1px-top
    &::before
      -webkit-ransform : scaleY(0.5)
      transform:scaleY(0.5)